<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bonhams.expensemanagement">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- Application Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.CAMERA"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" /> <!-- For unsupported tablets -->
    <!--<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>
<!--
    android:requestLegacyExternalStorage="true"
-->

    <application
        android:name=".ui.BonhamsApplication"
        android:allowBackup="false"
        android:icon="@drawable/new_logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/new_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ExpenseManagement"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup"
        tools:targetApi="m">
        <service
            android:name=".ui.gpsTracking.LocationMyService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"></service>
        <service
            android:name=".ui.gpsTracking.LocationUpdatesService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="location" />

        <activity
            android:name=".ui.splash.SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.LocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.forgotPassword.ForgotPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.resetPassword.ResetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.claims.newClaim.SplitClaimActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.claims.splitClaim.EditSplitClaimActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.claims.splitClaim.EditSplitClaimActivityEdit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.claims.newClaim.SplitClaimActivity2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.claims.splitClaim.EditSplitClaimDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.claims.newClaim.SplitClaimDetalisActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.rmExpence.ExpenceToBeAccepted"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.rmExpence.ReportingMangerExpenceDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.rmExpence.RequestClaimDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.bonhams.expensemanagement.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider> <!-- Push Notification -->
        <!--
            The API key for Google Maps-based APIs is defined as a string resource.
            (See the file "res/values/google_maps_api.xml").
            Note that the API key is linked to the encryption key used to sign the APK.
            You need a different API key for each encryption key, including the release key that is used to
            sign the APK for publishing.
            You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>